name: Release

on:
  push:
    branches: [ master ]

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2

      - name: Prepare repository
        run: git fetch --unshallow --tags
      - name: get shipit
        run: |
          curl -vkL -o - https://github.com/intuit/auto/releases/download/v9.34.1/auto-linux.gz | gunzip > ~/auto
          chmod a+x ~/auto
      - name: Create Release
        env:
          # Using my own personal access token to be able to
          # trigger automatic version bump afterwards.
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        run: |
          ~/auto shipit

